@use './components/flex' as f;
@use './components/var' as v;
@use './components/input' ;
@use './components/btns';



form {
    height : 55%;
    width : 30%;
    
    border-radius : 19px;
    box-shadow : 0px 0px 14px 4px #6059594f;

    @include f.flex(column, center, center)
}

body {
    background: linear-gradient(to right, v.$blue, v.$blue_dark);

}

.main {

    height: 91%;
    position: relative;
    top : 34px;

    @include f.flex(row, center, space-evenly);

    background: #ff000000 ;

    border-radius : 20px;
    box-shadow : 0px 0px 20px 10px #ffffff9d;


    &__form {


        @include f.grid(space-evenly, none, center, none);
        
        &--head {
            color: #000;
            text-align: center;
            width : 99%;
        }
        
        &__frame {
            
        &--img {
        border-radius : 46px;
        }
    }

        
        // @include f.flex(column, none, space-evenly);
        height:85%;

        &--user,
        &--pass {
            
            @include f.flex(row, center, none);
            outline : none;

        }

        &--button {
            
            // @include f.flex(column, center, space-evenly);

            display: content;
            
        }

        &--chk {
            @include f.flex(row, none, center);
        }
        
        &--links{

            @include f.flex(row, auto, space-evenly);
            width: 100%;

        }

    }

}


#know_me {

    outline: none;
    accent-color: #ff000000;
}


.btns {

    display: contents;

}

.submit { 

    @include f.flex(row, none, center);

}
